# Игнорирование кэшей Python
__pycache__/
*.py[cod]
*$py.class

# Игнорирование директорий/файлов виртуальных окружений
venv/
.env
env/
.virtualenv/

# Игнорирование настроечных файлов IDE
.idea/
.vscode/

# Игнорирование файлов и директорий с данными
*.log
*.sqlite3
*.db

# Игнорирование прочих временных файлов
*.tmp
*.bak
*.swp

# Игнорирование файлов сборки
build/
dist/
*.egg-info/
